---
layout: default
title: Inicio
---

<!-- Home Jumbotron
================================================== -->
<section class="intro full-width">
    <div class="wrapintro">
        <h1>Regalo</h1>
        <h2 class="lead">La palabra regalo viene del francés y quiere decir que es un obsequio que brinda placer. Viene de (re) galo, en sentido de gala, galantería y galán. Es decir, viene del verbo galer que significa divertirse

            Los regalos son una de las formas en que se transmiten la imagen que tienen los demás de nosotros.
            Regalamos para mostrar amor, como forma de agradecimiento, porque así se espera de nosotros (un cumpleaños, una boda, amigo invisible, regalos de navidad, aniversario...) y por provocar la felicidad del otro que a su vez nos genera felicidad a nosotros.</h2>
        <h2 class="lead">Si estás buscando un regalo para alguien, estás en el sitio correcto. Vamos a echar un vistazo a las categorías.</h2>
        <a href="#category" class="btn">Ver categorías</a>
    </div>
</section>



<!-- Posts Index
================================================== -->
{% if paginator.previous_page %}
{% if paginator.previous_page > 0 %}
<div id="jumptopageof"></div>
{% endif %}
{% endif %}

<section class="recent-posts row" id="category">


    <div class="col-12">

        <div class="section-title">
            <h2><span>Categorías</span></h2>
        </div>

        <div class="masonrygrid row listrecent">

            <div class="col-md-6 col-sm-12">

                {% for post in paginator.posts %}

                {% unless post.featured == true %}

                    {% include postbox.html %}

                {% endunless %}

                {% endfor %}

            </div>

        </div>

        <!-- Pagination -->
        <!-- <div class="bottompagination">

            <span class="navigation" role="navigation">

                {% include pagination.html %}

            </span>

        </div> -->

    </div>

</section>


<!-- Featured
================================================== -->
<section class="featured-posts">

    <div class="section-title">
        <h2><span>Destacados</span></h2>
    </div>

    <div class="row listfeaturedtag carousel slide">

        {% for post in site.posts %}


            {% if post.featured == true %}

                {% include featuredbox.html %}

            {% endif %}

        {% endfor %}


    </div>

</section>