---
layout: default
title: Inicio
---

<!-- Home Jumbotron
================================================== -->
<section class="intro full-width">
    <div class="wrapintro">
        <h1>Regalos 2021</h1>
        <h2 class="lead">Es posible que estés buscando un <a href="regalos-para-san-valentin.html">regalo para San Valentín</a>, un regalo original para tu amiga o quizá un <a href="regalos-de-cumpleanos.html">regalo de cumpleaños</a>. Enhorabuena, estás en el sitio correcto.</h2>
        <h2 class="lead">Te daremos <span style="font-weight: bold;">ideas sobre que regalar en 2021</span> y no fracasar en el intento. Echa un vistazo a nuestras categorías y encuentra el regalo perfecto.</h2>

        <a href="#category" class="btn">Ver categorías</a>
    </div>
</section>



<!-- Posts Index
================================================== -->
{% if paginator.previous_page %}
{% if paginator.previous_page > 0 %}
<div id="jumptopageof"></div>
{% endif %}
{% endif %}

<section class="recent-posts row" id="category">
    <div class="col-12">

        <div class="section-title">
            <h2><span>Categorías</span></h2>
        </div>

        <div class="masonrygrid row listrecent">

            {% for post in paginator.posts %}

                {% if post.show == true and post.amazon == false and post.featured == false  %}

                    {% include postbox.html %}

                {% endif %}

            {% endfor %}

        </div>

        <!-- Pagination -->
        <!-- <div class="bottompagination">

            <span class="navigation" role="navigation">

                {% include pagination.html %}

            </span>

        </div> -->

    </div>

</section>


<!-- Featured
================================================== -->
<section class="amazon-posts" id="bestsellers-it">


    <div class="section-title">
        <h2><span>Regalos tecnológicos más vendidos en 2021</span></h2>
        <p>
            En esta sección te presenamos algunos de los regalos tecnológicos mas vendidos en el 2021 hasta la fecha.
            Si tu intención es hacer un regalo electrónico popular, echa un vistazo a estos productos de Amazon.
        </p>
    </div>

    <div class="row listfeaturedtag">

        {% for post in site.posts %}

            {% if post.amazon == true and post.category == 'it' %}

                {% include amazonproduct.html %}

            {% endif %}

        {% endfor %}


    </div>

</section>
<br>
<section class="amazon-posts" id="bestsellers-books">

    <div class="section-title">
        <h2><span>Libros más vendidos en 2021</span></h2>
        <p>
           Regalar un buen libro siempre es una de las mejores opciones para el crecimiento personal.
           Aquí te mostramos algunos de los libros más populares de este año, sin duda, una bonita elección para tu regalo perfecto.
        </p>
    </div>

    <div class="row listfeaturedtag">

        {% for post in site.posts %}

            {% if post.amazon == true and post.category == 'Libro' %}

                {% include amazonproduct.html %}

            {% endif %}

        {% endfor %}


    </div>

</section>


<script>
    window.onload = function() {
        $('.listfeaturedtag').slick({
            autoplay: true,
            arrows: true,
            prevArrow: '<div class="slick-btn slick-btn-prev"><i class="fa fa-chevron-left"></i></div>',
            nextArrow: '<div class="slick-btn slick-btn-next"><i class="fa fa-chevron-right"></i></div>',
            autoplaySpeed: 4000,
            dots: true,
            infinite: true,
            pauseOnHover: false,
            pauseOnFocus: false,
            slidesToShow: 2,
            responsive: [
            {
                breakpoint: 770,
                settings: {
                arrows: false,
                slidesToShow: 1
                }
            },
            ]
        });
    };
</script>